.btn-book-now {
  background-color: #dc423b;
  border: 0;
  color: #000;
  font-family: 'Cuprum', sans-serif;
  font-size: 1.5em;
  height: 50px;
  opacity: 0;
  outline: 0;
  width: 100%;
  transition: color 0.2s ease;

  &:hover {
    color: #fff;
  }
}

.btn-grid {
  background-color: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 16px;
  left: -40px;
  padding: 8px;
  position: absolute;
  outline: 0;
  transition: left 0.3s ease;
  
  &:hover {
    background-color: #a5a5a5;
    border-color: #999;
    i {
      color: #fff;
    }
  }
}