.flex-5-cols {
  .card-wrapper {
    position: relative;
    margin: 0 15px 20px 0;
    max-width: 232px;
    &:nth-child(5n+5) {
      margin-right: 0;
    }
    .card {
      flex-direction: column;
      .card-info-wrapper {
        flex-grow: 1;
      }
    }
  }
}

@media screen and (max-width: 1259px) {
  .flex-5-cols {
    .card-wrapper {
      margin: 0 16px 20px 0;
      max-width: 234px;
      &:nth-child(5n+5) {
        margin-right: 16px;
      }
      &:nth-child(4n+4) {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .flex-5-cols {
    .card-wrapper {
      &:nth-child(3n+3) {
        margin-right: 0;
      }
      &:nth-child(4n+4) {
        margin-right: 16px;
      }
      &:nth-child(5n+5) {
        margin-right: 16px;
      }
    }
  }
  footer {
    .social-media-links {
      text-align: left;
    }
  }
}

@media screen and (max-width: 1015px) {
  .flex-5-cols {
    .card-wrapper {
      max-width: 232px;
      margin: 0 16px 20px 0;
    }
  }
}

@media screen and (max-width: 480px) {
  .flex-5-cols {
    .card-wrapper {
      max-width: 212px;
      margin: 0 14px 20px 0;
      &:nth-child(odd) {
        margin-right: 14px;
      }
      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }
}

.flex-1-col {
  .card-wrapper {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    .card {
      position: relative;
      width: 100%;
      &:hover {
        box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.12);
        .btn-book-now {
          height: 110px;
          top: 0;
        }
      }
      .card-title {
        text-align: left;
      }
      .card-description {
        display: inline-block;
        max-height: 34px;
        overflow: hidden;
        padding: 2px 0px;
      }
      .card-info-wrapper {
        padding: 5px 10px;
        flex-grow: 1;
      }
      .card-price-info-wrapper {
        justify-content: unset;
        padding: 0;
        opacity: 1;
        .card-price-info {
          margin-right: 10px;
        }
      }
      .image-wrapper {
        height: 110px;
        width: 200px;
        min-width: 200px;
      }
      .arrow-up {
        display: none;
      }
      .arrow-right {
        display: inline-block;
      }
      .btn-book-now {
        width: 180px;
        min-width: 180px;
        position: relative;
        right: 0;
        height: 50px;
        top: 30px;
        opacity: 1;
      }
    }
  }
}