.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.travel-agency-logo {
  height: 100px;
  margin: 10px;
}

header {
  background-color: #eee;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,.15);
  color: #000;
  font-family: 'Pacifico', cursive;
  height: 120px;
  padding: 0px 10px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header-title {
  font-size: 2.5em;
  position: absolute;
  line-height: 120px;
}

.container {
  max-width: 1260px;
  padding: 120px 20px 0;
}

h2 {
  align-items: center;
  display: flex;
  height: 1px;
  justify-content: center;
  overflow: hidden;
  padding: 30px 0px 30px 0px;
  position: relative;
  transition: padding 0.3s ease;
}

h2:hover {
  padding: 30px 0px 30px 45px;
}


h2 span {
  background: #fff;
  margin: 0 15px;
}

h2:before {
  background: #dc423b;
  height: 1px;
  flex: 1;
  content: '';
}

h2:hover::before {
  background: #bb2c26;
}

.card-info-wrapper {
  display: flex;
  flex-flow: column;
  padding: 10px;
}

.card-title {
  color: #8233a1;
  font-family: 'Pacifico', cursive;
  font-size: 26px;
  text-align: center;
}

.card-description {
  font-size: 14px;
  padding: 2px 0 20px 0;
  flex-grow: 1;
}

.section-title {
  color: #dc423b;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  text-align: right;
}

.section-content {
  display: flex;
  flex-wrap: wrap;
}

.card-wrapper {
  box-sizing: border-box;
  margin-right: 1.25%;
  position: relative;
}

.card-wrapper:last-child {
  margin-right: 0;
}

.card-wrapper:before,
.card-wrapper:after {
    content: " ";
    display: table;
}

.card-wrapper:after {
    clear: both;
}

.flex-5-cols .card-wrapper {
  position: relative;
  width: 19%;
}

.flex-5-cols .card {
  flex-direction: column;
}

.flex-5-cols .card-info-wrapper {
  flex-grow: 1;
}

.flex-1-col .card-wrapper {
  margin-bottom: 20px;
  width: 100%;
}

.flex-1-col .image-wrapper {
  height: 110px;
  width: 200px;
}

.flex-1-col .card {
  width: 100%;
}

.flex-1-col .card-title {
  text-align: left;
}

.flex-1-col .card-description {
  display: inline-block;
  padding: 2px 0px;
}

.flex-1-col .card-info-wrapper {
  padding: 5px 10px;
}

.flex-1-col .card-price-info-wrapper {
  justify-content: unset;
  padding: 0;
  opacity: 1;
}

.flex-1-col .btn-book-now {
  width: 15%;
  position: absolute;
  right: 0;
  height: 40%;
  top: 30%;
  opacity: 1;
}

.flex-1-col .card:hover .btn-book-now {
  height: 100%;
  top: 0;
}

.flex-1-col .arrow-up {
  visibility: hidden;
}

.flex-1-col .arrow-right {
  visibility: visible;
}

.card {
  display: flex;
  height: 100%;
  margin: 0 auto;
  position: relative;
  transition: box-shadow .2s ease-in-out;
  box-shadow: none;
}

.card:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.flex-1-col .card:hover {
  box-shadow: 0 -1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.12);
}

.card:hover .card-price-info-wrapper {
  opacity: 1;
}

.card:hover .btn-book-now {
  opacity: 1;
}

.card img {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
  -webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.card:hover img {
  filter: brightness(65%);
  -webkit-transform: rotate(-7deg) scale(1.2);
	transform: rotate(-7deg) scale(1.2);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.arrow-up {
  bottom: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  height: 0;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  width: 0;
  z-index: 1;
}

.card:hover .arrow-up {
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #fff;
  margin-left: -16px;
}

.arrow-right {
  bottom: 50%; 
  border-top: 8px solid transparent;
  border-right: 8px solid #fff;
  border-bottom: 8px solid transparent;
  height: 0;
  right: 0;
  margin-bottom: -8px;
  position: absolute;
  width: 0;
  visibility: hidden;
  z-index: 1;
}

.card:hover .arrow-right {
  border-top: 16px solid transparent;
  border-right: 16px solid #fff;
  border-bottom: 16px solid transparent;
  margin-bottom: -16px;
}

.image-wrapper {
  height: 200px;
  position: relative;
  overflow: hidden;
}

.card:hover .image-wrapper::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00e";
  color: #fff;
  font-size: 60px;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  margin: -30px 0 0 -30px;
}

.card img {
  height: 100%;
  width: 100%;
}

.card-price-info-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.flex-1-col .card-price-info {
  margin-right: 10px;
}

.card-price-info {
  background-color: #eee;
  font-size: 16px;
  padding: 2px;
}

.card-price-info svg {
  font-size: 16px;
  color: #666;
  margin: 0 2px;
}

.card-price-text {
  background-color: #fff;
  padding: 0 2px;
}

.btn-book-now {
  background-color: #dc423b;
  border: 0;
  color: #000;
  font-family: 'Cuprum', sans-serif;
  font-size: 1.5em;
  height: 50px;
  opacity: 0;
  width: 100%;
  transition: all 0.2s ease;
}

.btn-book-now:hover {
  color: #fff;
}

h2:hover .btn-grid {
  left: 0;
}

.btn-grid {
  background-color: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 16px;
  left: -40px;
  padding: 8px;
  position: absolute;
  outline: 0;
  transition: left 0.3s ease;
}

.btn-grid:hover {
  background-color: #a5a5a5;
  border-color: #999;
}

.btn-grid:hover i {
  color: #fff;
}

.hidden {
  display: none;
}