footer {
  background-color: #672a96;
  .footer-container {
    align-items: center;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    height: 170px;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .footer-col {
    flex-grow: 1;
    font-style: normal;
  }
  .contact-info {
    .row{
      display: table;
      .col {
        display:table-cell;
        &.icon-col {
          padding: 10px 10px 10px 0;
        }
      }
    }
    p {
      margin: 0;
      line-height: 22px;
      &:hover {
        color: #dc423b;
        transition: all 0.2s ease-in-out;
      }
    }
    svg {
      margin-right: 10px;
    }
  }
  .social-media-links {
    text-align: center;
    .icon-button {
      border: 0;
      cursor: pointer;
      font-size: 20px;
      color: #672a96;
      background-color: #fff;
      height: 30px;
      line-height: 30px;
      margin: 0 10px 10px 0;
      outline: 0;
      padding: 0;
      text-align: center;
      width: 30px;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: #dc423b;
        color: #fff;
      }
    }
    svg {
      margin: 0px 3px;
    }
  }
  .company-logo-footer {
    text-align: right;

    .travel-agency-logo-footer {
      filter: grayscale(100%) brightness(300%);
      -webkit-filter: grayscale(100%) brightness(300%); /* Safari 6.0 - 9.0 */
      height: 100px;
    }
  }
}